# .NET
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
packages/
*.nupkg
*.snupkg
.nuget/

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.psess
*.vsp
*.vspx
*.sap

# JetBrains Rider
.idea/
*.sln.iml

# Database
*.db
*.db-shm
*.db-wal

# Application specific
downloads/
resized/
wwwroot/
!wwwroot/.gitkeep